{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col-4 col-sm-2">
            <img class="img-fluid" src="{% static 'img/employers/example.jpg' %}" alt="My image">
        </div>
        <div class="col-11 col-sm-10">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Поле</th>
                    <th scope="col">Данные</th>
                </tr>
                <tr>
                    <th scope="col">Имя</th>
                    <th scope="col">{{ jobseeker.middle_name }}</th>
                </tr>
                <tr>
                    <th scope="col">Пол</th>
                    <th scope="col">{{ jobseeker.gender }}</th>
                </tr>
                <tr>
                    <th scope="col">День рождения</th>
                    <th scope="col">{{ jobseeker.birthday }}</th>
                </tr>
                <tr>
                    <th scope="col">Город</th>
                    <th scope="col">{{ jobseeker.city }}</th>
                </tr>
                <tr>
                    <th scope="col">Номер телефона</th>
                    <th scope="col">{{ jobseeker.phone_number }}</th>
                </tr>
                <tr>
                    <th scope="col">Семейное положение</th>
                    <th scope="col">{{ jobseeker.married_status }}</th>
                </tr>
                <tr>
                    <th scope="col">О себе</th>
                    <th scope="col">{{ jobseeker.about }}</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-primary">Создать резюме</button>
            <h1 class="my-5">Мои резюме</h1>
            <p>Здесь будет раздел со списком ативных резюме</p>
            <h1 class="my-5">Поиск вакансий</h1>
            <p>Здесь будет форма поиска вакасий или переход в раздел поиска </p>
            <h1 class="my-5">Избранные вакасии</h1>
            <p>Здесь будет раздел избранных вакасий</p>
            <h1 class="my-5">Раздел сообщения</h1>
            <p>Здесь будет раздел избранных вакасий</p>
        </div>
    </div>
</div>

{% endblock %}