{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

    <div class="container">
    <h1 class="my-5 header_cabinet"><img class="photo" src="{% static 'img/employers/example.jpg' %}" alt="My image"></h1>
            <table class="table employer_table">
                <thead>
                <tr>
                    <th scope="col">Поле</th>
                    <th scope="col">Данные</th>
                </tr>
                <tr>
                    <th scope="col">Имя</th>
                    <th scope="col">{{ jobseeker.middle_name }}</th>
                </tr>
                <tr>
                    <th scope="col">Пол</th>
                    <th scope="col">{{ jobseeker.gender }}</th>
                </tr>
                <tr>
                    <th scope="col">День рождения</th>
                    <th scope="col">{{ jobseeker.birthday }}</th>
                </tr>
                <tr>
                    <th scope="col">Город</th>
                    <th scope="col">{{ jobseeker.city }}</th>
                </tr>
                <tr>
                    <th scope="col">Номер телефона</th>
                    <th scope="col">{{ jobseeker.phone_number }}</th>
                </tr>
                <tr>
                    <th scope="col">Семейное положение</th>
                    <th scope="col">{{ jobseeker.married_status }}</th>
                </tr>
                <tr>
                    <th scope="col">О себе</th>
                    <th scope="col">{{ jobseeker.about }}</th>
                </tr>
                </thead>
            </table>
            <button type="button" class="btn btn-primary">
                <a href="{% url 'jobseeker:resume' %}">
                Создать резюме
                </a>
            </button>
    <div class="container search_resume"><h1 class="my-5">Мои резюме</h1>
    <p>Здесь будет раздел со списком ативных резюме</p>
    </div>
    <div class="container search_resume"><h1 class="my-5">Поиск вакансий</h1>
        <p>Здесь будет форма поиска вакасий или переход в раздел поиска </p>
    </div>
    <div class="container search_resume"><h1 class="my-5">Избранные вакасии</h1>
        <p>Здесь будет раздел избранных вакасий</p>
    <div class="container search_resume"><h1 class="my-5">Раздел сообщения</h1>
        <p>Здесь будет раздел избранных вакасий</p>
    </div>
    </div>

    {#<h1> {{ employer }}</h1>#}
{% endblock %}