{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
   <div class="container">
       <div class="h1">Уверены, что хотите удалить?</div>
       <form action="{% url 'jobseeker:resume_experience_delete' resume.id object.pk %}" method="post">
           {% csrf_token %}
           <input class="btn btn-danger" type="submit" value="удалить">
       </form>
       <button class="btn btn-success">
           <a href="{% url 'jobseeker:resume_detail' resume.id %}">отмена</a>
       </button>
   </div>
{% endblock %}