{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
   <div class="container">
       <form action="" method="post">
           {% csrf_token %}
           {% for field in form %}
                <p>
                    {% if field.id_for_label == 'id_currency' %}
                        <label id="{{ field.id_for_label }}" style="display:block;">Желаемая зарплата:</label>
                        <input id="id_salary_min" class="form-control" type="number" name="salary_min" style="width:20%; display:inline;">
                        <input id="id_salary_max" class="form-control" type="number" name="salary_max" style="width:20%; display:inline;">
                        {{ field }}
                    {% elif field.id_for_label in 'id_salary_min, id_salary_max' %}
                    {% else %}
                        {{ field.label_tag }}
                        {{ field }}
                    {% endif %}
                </p>
           {% endfor %}
           <button type="submit" value="сохранить" class="btn btn-default btn-round form-control last">сохранить</button>
       </form>
       <button class="btn btn-round form-control last">
            <a href="{% url 'jobseeker:cabinet' %}">
                к личному кабинету
            </a>
        </button>
   </div>

{% endblock %}