{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
   <div class="container">
       <h3 class="my-5 text-center">Уверены, что хотите удалить ваше резюме {{ object.name }}?</h3>
       <div class="row justify-content-center">
           <div class="col-8 col-md-5">
               <form action="{% url 'jobseeker:resume_delete' user.pk object.pk %}" method="post">
                   {% csrf_token %}
                   <input class="my-3 btn btn-outline-danger form-control" type="submit" value="удалить">
               </form>
               <a class="my-3 mb-5 btn btn-outline-primary form-control" href="{% url 'jobseeker:cabinet' user.pk %}">отмена</a>
           </div>
       </div>
   </div>
{% endblock %}