{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

<div class="container my-5">
    <h3 class="font-italic mb-5 text-center">Личный кабинет: "{{ employer.company_name }}" </h3>
    <div class="row">
        <div class="col-5 col-sm-4 col-md-3 pr-sm-4">
            {% include 'employerapp/include/left-menu.html' %}
        </div>
        <div class="col-7 col-sm-8 col-md-9 pl-sm-5">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Поле</th>
                    <th scope="col">Данные</th>
                </tr>
                <tr>
                    <th scope="col">Деятельность</th>
                    <th scope="col">{{ industry_type }}</th>
                </tr>
                <tr>
                    <th scope="col">Телeфон</th>
                    <th scope="col">{{ employer.phone_number }}</th>
                </tr>
                <tr>
                    <th scope="col">Город</th>
                    <th scope="col">{{ employer.city }}</th>
                </tr>
                <tr>
                    <th scope="col">Сайт</th>
                    <th scope="col">{{ employer.site }}</th>
                </tr>
                <tr>
                    <th scope="col">Статус</th>
                    <th scope="col">{{ employer.status }}</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock %}