{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <h3 class="font-italic text-center mb-5">Результаты поиска</h3>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10">
            {% if object_list %}
            <a class="h5" href="{% url 'main' 1 %}">&laquo вернуться к поиску</a>
            {% for object in object_list %}
                {% if object.user.first_name or object.name  or object.key_skills %}
                <div class="mt-4">
                    <a class="h3" href="{% url 'jobseeker:resume_external_detail' object.pk %}">{{ object.user.last_name }}
                        {{ object.user.first_name }} {{ object.user.jobseeker.middle_name }}</a>
                    <p class="mb-0">Желаемая должность: {{ object.name }}</p>
                    <p>Навыки: {{ object.key_skills }}</p>
                    <a class="btn btn-outline-primary mb-5" role="button"
                       href="{% url 'jobseeker:resume_external_detail' object.pk %}">Просмотреть
                        резюме</a>
                </div>
                {% endif %}
            {% endfor %}
            <div class="text-center mt-4 mb-5">
            {% if object_list.has_previous %}
                <span>
                    <a class="h4"
                       href="?search={{ search }}&page={{ object_list.previous_page_number }}">&laquo
                    </a>
                </span>
            {% endif %}
                <span class="px-3 font-italic font-weight-bold">страница {{ object_list.number }}
                    из {{ object_list.paginator.num_pages }}</span>
            {% if object_list.has_next %}
                <span>
                    <a class="h4" href="?search={{ search }}&page={{ object_list.next_page_number }}">
                        &raquo</a>
                </span>
            {%endif%}
            </div>
            {% else %}
            <p>Поиск не дал результатов. Попробуйте изменить поиск.</p>
            <a href="{% url 'main' 1 %}">вернуться к поиску</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}