{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated and user.employer %}
<div class="container my-5">
    <div class="row">
        <div class="col">
            <p class="h4 font-italic">Добро пожаловать "{{user.employer.company_name}}" на портал IT
                Portal!</p>
            <p class="mb-5">Статус: Работодатель</p>
            <form action="get" class="mb-5">
                <div class="form-group">
                    <input type="text" class="d-inline form-control col-8 col-sm-6 col-md-4"
                           placeholder="поиск резюме...">
                    <button id="search_resume" class="btn btn-primary px-4" type="submit">поиск</button>
                </div>
            </form>
            {% for resume in resume_all %}
            <div class="mb-5">
                <div class="d-flex">
                    <h4 style="color: blue;"><a href="">{{ resume.user.last_name }} {{ resume.user.first_name }}
                        {{ resume.user.jobseeker.middle_name }}</a></h4>
                    <p class="ml-5"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                      <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                    </svg></p>
                    <p class="h5 ml-5" style="color:black;">Уровень з/п:
                        {% if resume.salary_min and resume.salary_max %}{{ resume.salary_min }} -
                        {{ resume.salary_max }} {{ resume.currency }}
                        {% elif resume.salary_min %} от {{ resume.salary_min }} {{ resume.currency }}
                        {% elif resume.salary_max %} до {{ resume.salary_max }} {{ resume.currency }}
                        {% else %} не указана
                        {% endif %}
                    </p>
                </div>
                <p class="small text-muted mb-0">{{ resume.user.jobseeker.city }}</p>
                <p class="text-muted mb-3">Дата рождения: {{resume.user.jobseeker.birthday|date:"d.m.Y"}}
                <span class="mb-3 ml-5">Семейный статус:
                    {{resume.user.jobseeker.get_married_status_display}}</span></p>
                <p>Желаемая должность: {{ resume.name }}</p>
                <div class="d-flex">
                    <strong>Навыки:</strong> <span class="ml-3">{{resume.key_skills|linebreaks|truncatewords:20}}</span>
                </div>
                <div class="d-flex">
                    <p>Дата публикации: {{resume.updated_at|date:"d.m.Y" }}</p>
                    <a class="btn btn-outline-primary px-4 ml-5" role="button" href="#">Направить
                        предложение
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% elif user.is_authenticated and user.jobseeker %}
<div class="container my-5">
    <div class="row">
        <div class="col">
            <p class="h4 font-italic">Добро пожаловать {{user.first_name}} {{ user.last_name }}
               на портал IT Portal!</p>
            <p class="mb-5">Статус: Соискатель</p>
            <!--<p class="my-5">Здесь будет выведен список всех доступных вакансий
                компаний-работодателей, зарегистрированных на данном портале</p>
            <p class="my-5">Также будет реализован простой и расширенный поиск вакансий.</p>-->
            <form action="get" class="mb-5">
                <div class="form-group">
                    <input type="text" class="d-inline form-control col-8 col-sm-6 col-md-4"
                           placeholder="поиск вакансий...">
                    <button id="search_vacancy" class="btn btn-primary px-4" type="submit">поиск
                    </button>
                </div>
            </form>
            {% for vacancy in vacancies %}
            <div class="mb-5">
                <div class="d-flex">
                    <h4 style="color: blue;"><a href="{% url 'employer:vacancy_view' vacancy.employer.pk vacancy.pk %}">{{ vacancy.vacancy_name }}</a></h4>
                    <p class="ml-5"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                      <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                    </svg></p>
                    <p class="h5 ml-5" style="color:black;">Уровень з/п:
                        {% if item.min_salary and item.max_salary %}{{ item.min_salary }} - {{ item.max_salary }} {{ item.currency }}
                        {% elif item.min_salary %} от {{ item.min_salary }} {{ item.currency }}
                        {% elif item.max_salary %} до {{ item.max_salary }} {{ item.currency }}
                        {% else %} не указана
                        {% endif %}
                    </p>
                </div>
                <p class="small text-muted mb-0">{{ vacancy.city }} / {{ vacancy.vacancy_type }}</p>
                <p class="text-muted mb-3">"{{vacancy.employer.company_name}}"
                <span class="mb-3 ml-5">{% if vacancy.employer.site %}<a class="small" href="">{{vacancy.employer.site }}</a>{% endif %}</span></p>
                <p class="font-weight-bold mb-0">Описание вакансии:</p>
                <p class="mt-0">{{ vacancy.description|linebreaks|truncatewords:30 }}</p>
                <div class="d-flex">
                    <p>Дата публикации: {{vacancy.published|date:"d.m.Y" }}</p>
                    <a class="btn btn-outline-primary px-4 ml-5" role="button" href="#">Откликнуться
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-9 about_h1">
            <h1 class="text-center font-italic mb-5">Новости IT Portal</h1>
            {% for item in news %}
            <div class="row mb-3 mt-5" id="{{ item.id }}">
                <div class="col-2 h5">{{ item.published|date:"d.m.y" }}</div>
                <div class="col-10 h5">{{ item.title|capfirst }}</div>
            </div>
            <div class="row mb-1">
                <div class="col mb-0 text_news">
                    {% if item.description|wordcount > 40 %}
                    {{ item.description|linebreaks|truncatewords:40 }}
                    <p class="mb-2"><a href="{% url 'news_detail' item.pk%}"><small class="text-muted">
                        подробнее...</small></a></p>{% else %} {{ item.description|linebreaks }}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div class="text-center mb-2">
                {% if news.has_previous %}
                <span>
                    <a class="h4" href="{% url 'main' news.previous_page_number %}">&laquo</a>
                </span>
                {% endif %}
                <span class="px-3 font-italic font-weight-bold">страница {{ news.number }} из {{news.paginator.num_pages}}</span>
                {% if news.has_next %}
                <span>
                    <a class="h4" href="{% url 'main' news.next_page_number %}">&raquo</a>
                </span>
                {%endif%}
            </div>
        </div>
        <div class="col-8 col-sm-4 col-md-3 news_col">
            <h5 class="text-center mt-2 font-italic" style="color: #808000;">Вход для
                зарегистрированных пользователей</h5>
            <form class="w-100" action="{% url 'auth:login' %}" method="post">
                {% csrf_token %}
                <p class="mb-0 mt-2">Логин:</p>
                <input class="w-100" type="text" name="username">
                <p class="mb-0 mt-2">Пароль:</p>
                <input class="w-100" type="password" name="password">
                <br>
                <input class="btn btn-primary form-control mt-3 mb-3" type="submit"
                       value="войти на портал">
            </form>
            <p class="text-center text-muted mt-3 mb-2">регистрация:</p>
            <a class="btn btn-outline-primary w-100 mb-3" role="button" href="{% url 'auth:register_employer' %}">
                работодателя
            </a>
            <a class="btn btn-outline-primary w-100 mb-3" role="button" href="{% url 'auth:register_jobseeker' %}">
                соискателя
            </a>

        </div>
    </div>
    {% if employers %}
    <h3 class="text-center mt-5">Компании партнеры</h3>
    <div class="row justify-content-center mt-3">
        {% for item in employers %}
        <div class="col-6 col-sm-3 col-lg-2">
            <div class="card">
                {% if item.logo %}
                <img class="card-img-top" style="height:100px; width:cover;" src="/media/{{ item.logo }}" alt="Card image cap">
                {% else %}<p class="card-img-top pt-5 text-center font-weight-bold"
                             style="height:85px;">LOGO COMPANY</p>
                {% endif %}
                <div class="card-body">
                    <p class="card-text text-center font-italic" style="height: 3rem;">{{ item.company_name }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endif %}
{% endblock %}