{% extends 'mainapp/base.html' %}
{% load static %}

<title>{% block title %}News №{{ title }}{% endblock %}</title>

{% block content %}
<div class="container my-5">
    <nav class="mx-5 mb-5" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class='text-muted' style="font-size:1rem;"
                                               href="{% url 'main' 1 %}">Главная страница</a></li>
            <li class="breadcrumb-item active" aria-current="page">Новость №{{ title }}</li>
        </ol>
    </nav>
    <div class="row mb-3">
        <div class="col-2 h5">{{ one_news.published|date:"d.m.y" }}</div>
        <div class="col-10 h5">{{ one_news.title|capfirst }}</div>
    </div>
    <div class="row mb-5">
        <div class="col">{{ one_news.description|linebreaks }}</div>
    </div>
</div>
{% endblock %}